<h1> Login Test </h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            {{#nickName}}
                <img src="{{profileImage}}" alt="avatar"> <br>
                NickName : <span id="user">{{nickName}}</span> <br>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a> <br>
            {{/nickName}}

            <!-- Naver Login Test -->
            {{^nickName}}
                <a href="/oauth2/authorization/naver" class="btn btn-success active" role="button">Naver Login</a>
            {{/nickName}}

            <!-- Facebook Login Test -->
            {{^nickName}}
                <a href="/oauth2/authorization/facebook" class="btn btn-secondary active" role="button">Facebook Login</a>
            {{/nickName}}
        </div>
    </div>
</div>